.homepage .grid {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}


.homepage .grid p {
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.homepage .grid p a {
  color: white;
  text-decoration: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 4px;
  width: 100%;
}

.homepage .grid p:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.homepage .section {
  display: flex;
  flex-direction: column;
}

.homepage .section h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.homepage .section button {
  color: black;
  background-color: #007bff00;
  border: 1px solid black;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.homepage .section button:hover {
  background-color: #000000;
  color: white;
}

.homepage .section .retour-btn {
  background-color: #f8f9fa;
  color: #333;
}

.homepage .section input {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.homepage .section select {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.homepage .section select:focus {
  outline: none;
  border-color: #007bff;
}

.homepage .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.homepage {
  font-family: var(--title-font);
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

body:has(.homepage) {
  background-color: #dfdfdf;
}

.homepage .container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}